hersey
{{title}}

<form name="sign-up" action="/auth/signUp" method="post">
<label for="sign up">sign up</label>
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="submit" value="submit">
</form>

<form name="sign-in" action="/auth/signIn" method="post">
<label for="sign in">sign in</label>
  <input type="text" name="username">
  <input type="password" name="password">
  <input type="submit" value="submit">
</form>

  {{#each nav}}
    <li><a target="_blank" href="/{{this.link}}">{{this.text}}</a></li>
  {{/each}}

<h5>users</h5>
{{#each people}}
{{this.name}} is {{this.age}}. <br>
{{/each}}

from Azure <br>
{{#each recordset}}
<p>{{this.name}} <a href="/{{this.id}}">view page</a></p> 
{{/each}}
